header .pink-bg {
  background-color: rgb(223, 172, 160);
  height: 60px;
}
header .vacio-bg {
  background-color: rgba(199, 88, 106, 0);
}
header .grey-bg {
  background-color: rgba(255, 255, 255, 0.39);
}
header nav .pink-bg {
  height: 30px;
  bottom: 3%;
}
header nav a.logo-barra {
  color: #283845;
  background-color: rgba(255, 255, 255, 0.39);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
}
header nav a.logo-barra2 {
  color: #283845;
  background-color: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
}
header nav .logo-hamburguesa {
  color: #283845;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: large;
  font-weight: 500;
}
header nav .item-hamburguesa {
  color: #283845;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 450;
}

body.home {
  background-color: rgba(255, 255, 255, 0.39);
  background-image: url(../../imagenes/img18.jpg);
}
body.home div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body.home div button .white-button {
  background-color: rgba(255, 255, 255, 0.39);
}
body.home main {
  display: grid;
  gap: 10px;
  grid-template-rows: auto 1fr auto;
}
body.home main div.subtitulo1 h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(223, 172, 160);
  text-align: center;
  margin-top: 70px;
  font-size: 3vw;
  padding-right: 60px;
  padding-left: 30px;
}
body.home main .home-tres {
  padding: 10px;
}
body.home main .home-uno, body.home main .home-dos {
  display: none;
}

main.equipo {
  display: grid;
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  text-align: center;
}
main.equipo div img {
  width: 50%;
  object-fit: cover;
  overflow: hidden;
  background-color: #283845;
  border-radius: 10%;
}
main.equipo div h2 {
  display: inline-block;
  width: 80%;
  color: rgba(255, 255, 255, 0.39);
  background-color: rgb(223, 172, 160);
}
main.equipo div p {
  display: inline-block;
  padding: none, 40px;
  text-align: justify;
}

main.portfolio {
  display: grid;
  margin-top: 70px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 35%);
  gap: 1%;
  height: 80vh;
  overflow: hidden;
}
main.portfolio div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

main.cursos {
  display: grid;
  margin-top: 15%;
  margin-bottom: 30px;
  padding: 7%;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 30% 0.12fr 0.2fr 0.12fr;
  row-gap: 10px;
  height: 91vh;
}
main.cursos div.img-cursos-principal {
  display: inline-block;
  grid-column: 1/span 4;
  grid-row: 1/span 1;
}
main.cursos div.img-cursos-principal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
main.cursos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
main.cursos .texto-cursos {
  grid-column: 1/span 4;
  text-align: center;
  font-size: 3.5vw;
}
main.cursos .img-secundaria-uno {
  padding: 5%;
  grid-column: 1/span 2;
}
main.cursos .img-secundaria-dos {
  padding: 5%;
  grid-column: 3/span 2;
}
main.cursos .boton-compra {
  text-align: center;
}
main.cursos .boton-curso-1 {
  color: rgb(223, 172, 160);
  background-color: #283845;
  font-weight: 600;
  border-radius: 10px;
  margin: 5%;
  grid-column: 1/span 2;
}
main.cursos .boton-curso-2 {
  color: rgb(223, 172, 160);
  background-color: #283845;
  font-weight: 600;
  border-radius: 10px;
  margin: 5%;
  grid-column: 3/span 2;
}

main.charlemos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35% 0.2fr 0.15fr 40%;
  margin-top: 65px;
  margin-bottom: 20%;
  padding: 7%;
  align-items: center;
  text-align: center;
  height: 120vh;
  row-gap: 15px;
}
main.charlemos div.imag {
  grid-row: 1/span 1;
  height: 100%;
  padding: 10px;
}
main.charlemos div.imag img {
  display: inline-block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
main.charlemos nav.texto1 {
  grid-row: 2/span 1;
  padding: 7px;
}
main.charlemos nav.texto1 p.justificado {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  text-align: justify;
  padding-top: none;
  font-size: 3vw;
}
main.charlemos nav.texto1 p.centrado {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: inline-block;
  width: 100%;
  background-color: rgb(223, 172, 160);
  font-style: italic;
  text-align: justify;
  color: #283845;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 5%;
  font-size: 3.5vw;
}
main.charlemos nav.texto2 {
  grid-row: 3/span 1;
  padding: 7px;
}
main.charlemos nav.texto2 p.justificado {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  text-align: justify;
  padding-top: none;
  font-size: 3vw;
}
main.charlemos form.formulario {
  display: block;
  grid-row: 4/span 1;
  padding: 5px;
  border: 2px solid #283845;
  border-radius: 10px;
  margin-bottom: 55px;
  font-size: 3.5vw;
}
main.charlemos form.formulario .consigna-principal {
  font-size: 1.5vh;
}
main.charlemos form.formulario label.consigna {
  justify-items: left;
  font-size: 1.5vh;
}
main.charlemos form.formulario .consigna-interior {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5vh;
}
main.charlemos form.formulario button.pink-bg {
  background-color: #283845;
  color: rgb(223, 172, 160);
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer .footer-pink {
  display: flex;
  justify-content: right;
  background-color: rgb(223, 172, 160);
  height: 45px;
}
footer .footer-pink a {
  margin: 2px;
}
footer .footer-pink img {
  height: 100%;
}

@media screen and (min-width: 600px) {
  body.home {
    background-color: rgba(255, 255, 255, 0.39);
    background-image: none;
  }
  body.home main {
    display: grid;
    height: 35vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 70%);
    padding-top: 105px;
  }
  body.home main div.home-uno, body.home main div.home-dos {
    display: block;
    gap: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  body.home main div.subtitulo1 {
    align-self: end;
  }
  body.home main div.subtitulo1 h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #283845;
    text-align: center;
    margin-top: 60px;
    font-size: 3vw;
    padding-right: 60px;
    padding-left: 30px;
  }
  main.equipo {
    display: grid;
    padding-top: 70px;
    margin-bottom: 2px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    justify-self: center;
    gap: 15px;
  }
  main.equipo div {
    align-self: center;
  }
  main.equipo div img {
    padding: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    background-color: #283845;
    border-radius: 10%;
  }
  main.equipo div .text1, main.equipo div .text2, main.equipo div .text3 {
    font-size: 2.5vw;
  }
  main.portfolio {
    display: grid;
    margin-top: 10%;
    height: 85vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100%;
  }
  main.cursos {
    display: grid;
    margin-top: 10%;
    padding: 7%;
    grid-template-columns: 60% 40%;
    grid-template-rows: 0.4fr 25% 25%;
    height: 80vh;
    row-gap: 15px;
  }
  main.cursos div.img-cursos-principal {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
  }
  main.cursos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  main.cursos .texto-cursos {
    padding: 5%;
    grid-column: 1/span 1;
    grid-row: 1/span;
  }
  main.cursos .img-secundaria-uno {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }
  main.cursos .img-secundaria-dos {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
  }
  main.cursos .boton-curso-1 {
    grid-column: 2/span 1;
    grid-row: 2/span 1;
    height: 40%;
  }
  main.cursos .boton-curso-2 {
    grid-column: 2/span 1;
    grid-row: 3/span 1;
    height: 40%;
  }
  main.charlemos {
    display: grid;
    height: 80vh;
    margin-top: 70px;
    row-gap: 15px;
    grid-template-columns: 70% 30%;
    grid-template-rows: 0.3fr 0.25fr 0.4fr;
    flex-wrap: wrap;
  }
  main.charlemos nav.texto1 {
    grid-column: 1/3;
    grid-row: 1/span 1;
  }
  main.charlemos nav.texto1 p.centrado {
    background-color: rgba(255, 255, 255, 0.39);
  }
  main.charlemos nav.texto2 {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
    padding-left: 2%;
    padding-right: 3%;
  }
  main.charlemos div.imag {
    grid-row: 2/span 2;
    grid-column: 2/span 1;
    background-color: #283845;
    height: 100%;
  }
  main.charlemos div.imag img {
    display: inline-block;
    height: 100%;
  }
  main.charlemos nav {
    grid-row: 3/span 1;
    padding: 5px;
  }
  main.charlemos nav form {
    border: 2px solid #283845;
    border-radius: 10px;
    bottom: 45px;
    align-content: justify;
    grid-column: 1/span 1;
    grid-row: 3/span 1;
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  footer .footer-pink {
    display: flex;
    justify-content: right;
    background-color: rgb(223, 172, 160);
    height: 45px;
  }
  footer .footer-pink a {
    margin: 2px;
  }
  footer .footer-pink img {
    height: 100%;
  }
}
@media screen and (min-width: 1024px) {
  body.home header {
    height: 40px;
  }
  body.home header nav.navbar-brand.logo-barra2 button.navbar-toggler.white-button {
    background-color: rgba(255, 255, 255, 0.39);
  }
  body.home main {
    display: grid;
    margin-left: 1.5%;
    margin-right: 1.5%;
    gap: 15px;
    height: 85vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 40% 40%;
    overflow: hidden;
    padding-top: 35px;
  }
  body.home main .img-uno, body.home main .img-dos {
    display: block;
  }
  body.home main div.subtitulo1 {
    margin-top: 40px;
    grid-column: 1/span 1;
  }
  body.home main div.subtitulo1 h1 {
    font-size: 20px;
    margin-top: 0%;
  }
  body.home main .home-uno, body.home main .home-dos {
    grid-column: 1/span 1;
  }
  body.home main .home-tres {
    margin-top: 10px;
    grid-column: 2/span 1;
    grid-row: 1/span 3;
  }
  main.equipo {
    display: grid;
    margin-top: none;
    margin-bottom: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60% 20%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: none;
  }
  main.equipo div.equipo-img-uno, main.equipo div.equipo-img-dos, main.equipo div.equipo-img-tres {
    width: 80%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    justify-self: center;
    grid-row: 1/span 1;
  }
  main.equipo div.equipo-img-uno img, main.equipo div.equipo-img-dos img, main.equipo div.equipo-img-tres img {
    background-color: #283845;
  }
  main.equipo div {
    align-self: baseline;
  }
  main.equipo div .text1 {
    font-size: 2.5vw;
    justify-content: justify;
  }
  main.portfolio {
    display: grid;
    margin-top: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 40%);
    gap: 10px;
    height: 90vh;
    overflow: hidden;
  }
  main.portfolio div {
    grid-row: span 1;
  }
  main.portfolio div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  main.cursos {
    display: grid;
    margin-top: 30px;
    margin-bottom: 0px;
    grid-template-columns: 50% 15% 35%;
    grid-template-rows: 30% 30% 30%;
    height: 100vh;
    row-gap: 1px;
  }
  main.cursos div.img-cursos-principal {
    grid-row: 1/span 3;
    grid-column: 3/span 1;
  }
  main.cursos nav.texto-cursos {
    grid-column: 1/span 2;
    grid-row: 1/span 1;
  }
  main.cursos nav.texto-cursos p {
    font-size: 1.5vw;
    text-align: justify;
  }
  main.cursos div.img-secundaria-uno {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }
  main.cursos div.img-secundaria-uno img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  main.cursos div.img-secundaria-dos {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
  }
  main.cursos div.img-secundaria-dos img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  main.cursos div.button {
    align-self: center;
  }
  main.cursos div.button button.boton-curso-1 {
    grid-column: 2/span 1;
    grid-row: 2/span 1;
  }
  main.cursos div.button div.button button.boton-curso-2 {
    grid-column: 2/span 1;
    grid-row: 3/span 1;
  }
  main.charlemos {
    display: grid;
    padding-top: 15px;
    grid-template-columns: 70% 30%;
    grid-template-rows: 0.2fr 0.2fr 0.6fr;
  }
  main.charlemos div.imag {
    grid-row: 1/span 3;
    grid-column: 2/span 1;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.39);
  }
  main.charlemos div.imag img {
    display: block;
    object-fit: cover;
    overflow: hidden;
    background-color: #441212;
    padding: 10px;
    height: 100%;
    width: 100%;
  }
  main.charlemos nav.texto1 {
    grid-row: 1/span 1;
    grid-column: 1/span 1;
    padding: 10px;
  }
  main.charlemos nav.texto1 p.justificado {
    font-size: 2vw;
    grid-column: 1/span 1;
  }
  main.charlemos nav.texto1 p.centrado {
    font-size: 1.5vw;
    grid-column: 1/span 1;
  }
  main.charlemos nav.texto2 {
    grid-row: 2/span 1;
    grid-column: 1/span 1;
    padding: 10px;
  }
  main.charlemos nav.texto2 p.justificado {
    font-size: 2vw;
    grid-column: 2/3;
  }
  main.charlemos nav.texto2 p.centrado {
    font-size: 1.5vw;
    grid-column: 2/3;
  }
  main.charlemos form {
    display: inline-block;
    height: auto;
    align-content: justify;
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  footer .footer-pink {
    display: flex;
    justify-content: right;
    background-color: rgb(223, 172, 160);
    height: 45px;
  }
  footer .footer-pink a {
    margin: 2px;
  }
  footer .footer-pink img {
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
