//home


header{


    .pink-bg{
        background-color: $color2 ;
        height:60px;
    }
    .vacio-bg{
        background-color: $color4 ;
    }
    .grey-bg{
        background-color: $color3;
    }
    

    nav{
        .pink-bg{
            height: 30px;
            bottom: 3%;
        }

        a.logo-barra{
            color:$color1;
            background-color: $color3;
            font-family: $letra;
            font-size: 40px;
            font-weight: 700;
            text-decoration: none;
        }
        a.logo-barra2{
            color:  $color1;
            background-color:none;
            font-family: $letra;
            font-size:30px;
            font-weight: 500;
            text-decoration:none;
        }

        .logo-hamburguesa{
            color: $color1;
            font-family: $letra;
            font-size:large;
            font-weight: 500;
        }

        .item-hamburguesa{
            color: $color1;
            font-family: $letra;
            //font-size: medium;
            font-weight: 450;
        }
    }
}
body.home{
    background-color: $color3;
    background-image: url(../../imagenes/img18.jpg) ;
    
        div{
            img{                
                width: 100%;
                height: 100%;
                object-fit: cover;
                
            }
            button{
                .white-button{
                    background-color: $color3;
                }
            }
    }
    main{
        display: grid;
        gap: 10px;
        grid-template-rows: auto 1fr auto;

        div.subtitulo1{
            h1{
            font-family: $letra;
            color: $color2;
            text-align: center;
            margin-top: 70px;
            font-size: 3vw;
            padding-right: 60px;
            padding-left: 30px;
            }
        }

        .home-tres{
            padding: 10px;
        }

        .home-uno, .home-dos{
            display: none;
        }
    }
}
main.equipo{
    display:grid; 
    padding-top: 70px;
    padding-left: 20px;
    padding-right:20px;
    padding-bottom: 40px;
    grid-template-columns:1fr;
    grid-template-rows: auto;
    text-align: center;

    div{
        img{
        width: 50%;
        object-fit: cover;
        overflow: hidden;
        background-color: $color1;
        border-radius: 10%;
        }
        h2{
        display:inline-block;
        width: 80%;
        color:$color3;
        background-color: $color2;
        }
        p{
            display: inline-block;
            padding:none, 40px;
            text-align: justify;
        }
    }
}

main.portfolio{
    display: grid;
    margin-top: 70px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,35%);
    gap: 1%;
    height: 80vh;
    overflow: hidden;

    div{
        img{
         width: 100%;
         height: 100%;
         object-fit: cover;
         overflow: hidden;
        }
    }
}

main.cursos{
    display:grid; 
    margin-top: 15%;
    margin-bottom: 30px;
    padding: 7%;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 30% 0.12fr 0.2fr 0.12fr;
    row-gap: 10px;
    height: 91vh;

    div.img-cursos-principal{
        display:inline-block;
        grid-column: 1 / span 4 ;
        grid-row: 1/ span 1;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
            }
    }
    
    img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    }
    .texto-cursos{
        grid-column: 1 / span 4 ;
        text-align: center;
        font-size: 3.5vw;
    }
    .img-secundaria-uno{
        padding: 5%;
        grid-column: 1 / span 2 ;
    }
    .img-secundaria-dos{
        padding: 5%;
        grid-column: 3 / span 2 ;
    }
    .boton-compra{
        text-align: center;
    }
    .boton-curso-1{
        color: $color2;
        background-color: $color1;
        font-weight: 600;
        border-radius: 10px;
        margin: 5%;
        grid-column: 1 / span 2;
    }
    .boton-curso-2{
        color: $color2;
        background-color: $color1;
        font-weight: 600;
        border-radius: 10px;
        margin: 5%;
        grid-column: 3 / span 2; 
    }
}

main.charlemos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35% 0.2fr 0.15fr 40%;
    margin-top: 65px;
    margin-bottom: 20%;
    padding:7%;
    align-items: center;
    text-align: center;
    height: 120vh;
    row-gap: 15px;
    

    div.imag{
        grid-row: 1/span 1;
        height: 100%;
        padding:10px;
        img{
            display: inline-block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            
        }
    }    

   nav.texto1{
    grid-row: 2/span 1;
    padding: 7px;
        p.justificado{
            font-family: $letra;
            font-weight: 200;
            text-align: justify;
            padding-top: none;
            font-size: 3vw;
        }
        
        p.centrado{
            font-family: $letra;
            display: inline-block;
            width: 100%;
            background-color: $color2;
            font-style: italic;
            text-align: justify;
            color: $color1;
            padding-left: 10%;
            padding-right: 10%;
            border-radius: 5%;
            font-size: 3.5vw;
        }
      
    }

    nav.texto2{
        grid-row: 3/span 1;
        padding: 7px;
        p.justificado{
            font-family: $letra;
            font-weight: 200;
            text-align: justify;
            padding-top: none;
            font-size: 3vw;
        }
    }

    
    form.formulario{
        display: block;
        grid-row: 4/span 1;
        padding: 5px;
        border: 2px solid $color1;
        border-radius: 10px;
        margin-bottom: 55px;
        font-size: 3.5vw;
        

        .consigna-principal{
            font-size: 1.5vh;
        }

        label.consigna{
            justify-items: left;
            font-size: 1.5vh;
        }

        .consigna-interior{
            font-family: $letra;
            font-size: 1.5vh;
        }

        button.pink-bg{
            background-color:$color1;
            color: $color2;
            width: 100%;
        }
    }
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;

    .footer-pink{
    display: flex;
    justify-content: right;
    background-color:$color2;
    height: 45px; 
    a{
        padding:5px;
        margin-bottom: 10px;
    }
    img{
        height: 100%;
    }
    }
}

